name: Documentation

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install latest stable Rust toolchain with clippy
      uses: dtolnay/rust-toolchain@stable
      with:
        components: clippy

    - name: Setup cache
      uses: Swatinem/rust-cache@v2

    - name: Build rustdocs
      run: cargo doc --no-deps --all-features
      env:
        RUSTDOCFLAGS: --cfg docsrs

    - run: echo "<meta http-equiv=\"refresh\" content=\"0; url=ril\">" >> target/doc/index.html
    - run: cp -r target/doc ./docs

    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      if: ${{ github.ref == 'refs/heads/main' }}
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./docs
    
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: ril-docs
        path: ./docs
