name: Rust checks

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install latest stable Rust toolchain with clippy
      uses: dtolnay/rust-toolchain@stable
      with:
        component: clippy

    - name: Setup cache
      uses: Swatinem/rust-cache@v2

    - name: Build
      run: cargo build --features=all --verbose
    
    - name: Run tests
      run: cargo test --features=all --verbose
      
    - name: Run clippy
      run: cargo clippy --workspace --all-features -- -D clippy::all -D clippy::pedantic -D clippy::nursery -D clippy::cargo
